rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

   function isStaff() {
  return request.auth != null;
}

    // rankings（ランキング）
    match /rankings/{document} {
      allow read: if true;
      allow create, update, delete: if isStaff();
    }

    // reserveHistory（予約）
    match /reserveHistory/{document} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if isStaff();
    }

    // roles（権限管理）
    match /roles/{userId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // counters系
    match /reserves/global {
      allow read, update: if true;
      allow delete: if false;
    }

    match /visitors/total {
      allow read, update: if true;
      allow delete: if false;
    }

    match /waitTimes/{document} {
      allow read: if true;
      allow write: if isStaff();
    }

    match /siteLogs/{document} {
      allow read, create: if request.auth != null;
      allow update, delete: if false;
    }
  }
}
